body {
    background-color: rgb(32, 178, 105);
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.left-side{
    display:flex
}
.nav-wrapper > .left-side > div {
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.navlink-wrapper {
    height: 25px;
}
.column {
    width:380px;
    float:left;
    font-family: sans-serif;
}
